.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: 1px solid #000;
}
.item {
  border: 1px solid #000;
  background-color: #ececec;
  width: 200px;
}
.name {
  /* font-weight: bold; */
  padding: 10px;
}
.img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.input {
  border: 1px solid #a42b2b;
  width: 300px;
  padding: 0;
  margin: 0;
  font-size: 12px !important;
}
