.item {
  background-color: #b5beff;
}

.picture {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  background-image: url(./img/city.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
